
      <label class="list-group-item d-flex gap-3">
        <input class="form-check-input flex-shrink-0 checkbox" type="checkbox" value="" style="font-size: 1.375em;" required>
        <span class="pt-1 form-checked-content">
          <strong><%= element %></strong>
        </span>
      </label>
